@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

.animated-gradient {
  background-size: 200% 200%;
  background-image: linear-gradient(270deg, #ff7e5f, #feb47b, #ff7e5f, #feb47b);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .text-border {
    text-shadow:
      4px 4px 0 #000,
      -4px -4px 0 #000,
      4px -4px 0 #000,
      -4px 4px 0 #000;
    color: white;
  }

  .text-stylized1 {
    text-shadow:
      3.4px 3.4px 0 darkgray,
      -3.4px -3.4px 0 white,
      3.4px -3.4px 0 darkgray,
      -3.4px 3.4px 0 white;
    color: black;
  }

  .text-stylized2 {
    text-shadow:
      3.4px 3.4px 0 #05abb1,
      -3.4px -3.4px 0 white,
      3.4px -3.4px 0 #05abb1,
      -3.4px 3.4px 0 white;
    color: #ccf7f8;
  }
}
